
.todo-template{
    width: 512px;
    height: 768px;
    /*음영처리*/
    /* x축, y축, 블러크기, 색상*/
    box-shadow: 0 0 30px #aaa;
    /* border: 4px solid #000; */
    border-radius: 16px;
    /*박스 x축 중앙 정렬 : 마진 좌우값을 auto로 설정*/
    margin:200px auto 100px;

    position: relative;
    /* overflow: scroll; */

    display: flex;
    flex-direction:column;
}
/*로딩중 style*/
.loading{
     position: absolute;
     left: 50%;
     top:50%;
     transform: translate(-50%,-50%);
     
}
.loading .spinner-border{
    --bs-spinner-border-width: 0.6em;
}

.loading .text-danger{
    color: rgb(99, 99, 99) !important;
}