.btn-group{
    font-size:24px;
    /* color: #fff; */
    /* text-decoration: none; */
}

.btn-group a
, .logout-btn {
    color:#fff;
    text-decoration: none;
    margin-right: 20px;
    background: transparent;
    border: 0;
}

.btn-group a:hover
, .logout-btn:hover {
    color:#333;
    font-weight:700;
}
